@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  background-color: #588157;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
}

header {
  width: 100%;
  background-color: #3a5a40;
}

#menu-section {
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: #344e41;
}

#lists-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

.list-div {
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom-style: solid;
  margin-left: 25%;
  width: 800px;
}

#create-task-button-container {
  margin-left: 25%;
  width: 800px;
  margin-bottom: 90px;
}

#form-section {
  margin-top: 39px;
  padding: 40px;
  display: none;
  position: absolute;
  top: 70px;
  left: 15%;
  background-color: #344e41;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  border: none;
  background-color: #a3b18a;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

form {
  display: flex;
  gap: 10px;
}

#new-task-button {
  margin-top: 30px;
  width: 800px;
}
