@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  background-color: #343a40;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
}

header {
  width: 100%;
  background-color: #212529;
}

#todo-container {
  display: flex;
  flex-direction: column;
}

#menu-section {
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: #495057;
}

#lists-buttons,
#lists-button.create-new-project {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

.list-div {
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom-style: solid;
  margin-left: 25%;
  width: 800px;
  align-items: center;
}

#create-task-button-container {
  display: none;
  margin-left: 25%;
  width: 800px;
  margin-bottom: 90px;
}

#edit-section,
#form-section {
  margin-top: 39px;
  padding: 40px;
  display: none;
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: #495057;
  outline: 10000px solid rgba(0, 0, 0, 0.5);
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  border: none;
  background-color: #6c757d;
}

button:hover {
  cursor: pointer;
  background-color: #adb5bd;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}

#new-task-button {
  margin-top: 30px;
  width: 800px;
}

#create-task-button-container {
  display: block;
}

#home-container {
  display: block;
}
#today-container {
  display: none;
}
#week-container {
  display: none;
}
#project-container {
  display: none;
}

#create-new-project {
  display: none;
}

#projects-list {
  display: flex;
  flex-direction: column;
}
